html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
a, input, select, textarea {
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
img {
	vertical-align:top;
	border:0;
	opacity:1;
	filter: alpha(opacity=100);
	max-width:100.1%;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
body {
	overflow-x:hidden;
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 500;
	line-height:20px;
	font-size: 13px;
	color: #797979;
	background: #fff;
}
html { font-size: 100%;
}
::selection{
	background: #59b390;
	color: #FFF;
}
::-moz-selection {
	background: #59b390; /* Firefox */
	color:#fff;
}
a {
	color: #59b390;
	text-decoration:none !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
a:hover { color: #555555;
}
p {
	margin:0 0 20px;
	padding:0;
}
.fleft {float:left;
}
.fright {float:right;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
section {overflow:hidden;
}
h1 {
	margin: 0 0 21px;
	padding: 0;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	text-transform:none ;
	font-weight:400;
	line-height:86px;
	font-size:82px;
	color:#fff;
}
h2 {
	margin:0 0 44px;
	padding:0;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-weight:700;
	line-height:40px;
	font-size:37px;
	color:#505050;
}
h3 {
	margin:0 0 19px;
	padding: 49px 0 0;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-weight: 400;
	line-height:26px;
	font-size:23px;
	color:#505050;
}
h4 {
	margin:0 0 18px;
	padding:0;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-weight:700;
	line-height:20px;
	font-size:20px;
	color:#fff;
}
.container {
	width:1000px;
	margin:0 auto;
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left:20px;
	margin-bottom:20px;
}
.row {margin-left:-20px;
}
.span12 {width: 980px;}
.span11 {width: 915px;}
.span10 {width: 830px;}
.span9 {width: 745px;}
.span8 {width: 660px;}
.span7 {width: 575px;}
.span6 {width: 490px;}
.span5 {width: 405px;}
.span4 {width: 320px;}
.span3 {width: 235px;}
.span2 {width: 150px;}
.span1 {width: 65px;}

.page_section {
	padding:143px 0 130px;
}
.opacity {
	opacity: 0;
	filter: alpha(opacity=0);
}
.center {
	text-align:center;
}

.about {
	margin-top: -35px;
}

.vision {
	margin-top: -17px;	
}

.call_to_btn {
	display:inline-block;
	margin:30px;
	padding:13px 50px 12px;
	text-transform:uppercase;
	line-height:20px;
	font-size:15px;
	color:#fff;
	border: 0;
	cursor:pointer;
	background-color: rgba(89,179,144,0.3);
	border: 2px solid #1abc9c;
}
.call_to_btn:hover {
	background-color: #1abc9c;
	color:#fff;
	border: 2px solid white;
}

.homelink {
	color: white !important;
}

.homelink:hover {
	color: grey !important;
}

/* ____________________ Header ____________________ */
.sidebar_btn {
	cursor:pointer;
	display:block;
	z-index:2000;
	position:fixed;
	top: 30px;
	right: 30px;
	width:32px;
	height:34px;
	background-image: url(../images/sidebar_btn.png);
	background-repeat: no-repeat;
}
section#sidebar {overflow:visible;
}
#sidebar{
	position:fixed;
	z-index:999;
	left:0;
	right: 0;
	top:0;
	width: 100%;
	height: 12%;
	margin: 0;
	padding: 0;
	background: #333;
	background: rgba(0,0,0,0.15);
}
#sidebar .container {position:relative;
}
/* __________ Menu _________ */
.navmenu{
	padding:25px 0 21px;
	text-align:center;
}
.navmenu li {
	display:inline-block;
}
.navmenu ul li a {
	display:block;
	margin: 0;
	font-size: 15px;
	text-transform:uppercase;
	color:#fff;
	transition: none;
	-webkit-transition: none;
}
.navmenu li a:hover,
.navmenu li.active a 
{
	color:#1abc9c;
	text-decoration: underline;
}
.navmenu li a span {
	display:block;
	width:5em;
	height:30px;
	margin:0 auto;
	background-position: 0 0;
	background-repeat:no-repeat;
}

.navmenu ul li a:hover span,
.navmenu ul li.active a span{
	background-position:0 -30px;
}

/* ___________________ //Header ___________________ */

/* ____________________ Home ____________________ */
#home {
	overflow:hidden;
	position:relative;
	padding:0;
	min-height:800px;
	background-image: url(../images/jeneisenberg.jpg);
	background-size:cover;
	box-shadow: 0 0 250px rgba(0,0,0,0.57) inset;
}
#home .home_fill {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	/*background:url(../images/home_fill.png);*/
}
#home .welcome_block {
	position:relative;
	z-index:1;
	padding-left: 93px;
	padding-right: 93px;
	text-align:center;
	color:#fff;
}
#home .welcome_block p {
	margin-bottom:33px;
	line-height:34px;
	font-size:20px;
}

#subtitle {
	font-size: 15px;
	letter-spacing: 2px;
	margin:0 0 20px;
	padding:0;
}

/* ___________________ //Home ___________________ */


/* ____________________ About ____________________ */
.about_btn {
	margin-top:4px;
	padding:11px 27px;
	font-size:18px;
	background-color:#59b390;
}
.about_btn:hover {
	background-color: #bababa;
}

.about_slide .slide1 h3 {width:85%;
}
.about_slide .slide1 p {width:95%;
}
.about_slide .slide2 h3 {width:95%;
}
.about_slide .slide2 p {width:95%;
}
.about_slide .slide3 h3 {width:95%;
}
.about_slide .slide3 p {width:94%;
}

.about_slide li img {
	width:315px;
	height:315px;
	margin:0 20px 10px 0;
	border-radius:50%;
}
.about_slide .video_block {
	position:relative;
	display:block;
	width:315px;
	height:315px;
	margin:0 20px 10px 0;
	border-radius:50%;
	background-color:#000;
}
.about_slide .video_block img {
	opacity:0.37;
	filter: alpha(opacity=37);
}
.about_slide .video_block .video {
	position:absolute;
	left:50%;
	top:50%;
	width:40px;
	height:40px;
	margin:-20px 0 0 -20px;
	background-image: url(../images/video.png);
	background-repeat: no-repeat;
	transform: scale(3);
	-webkit-transform: scale(3);
	opacity:0;
	filter: alpha(opacity=0);
}
.about_slide .video_block:hover .video {
	opacity:1;
	filter: alpha(opacity=100);
	transform: scale(1);
	-webkit-transform: scale(1);
}

/* ___________________ //About ___________________ */


/* ____________________ Testimonials ____________________ */
#testimonials {
	position:relative;
	padding:150px 0 116px;
	background-image: url(../images/testimonials_bg.jpg);
	background-size:cover;
}
#testimonials .container {
	position:relative;
	z-index:1;
}
.testimonials_fill {
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/testimonials_fill.png);
}

.testimonials_block {
	color:#fff;
}
.testim_avatar {
	width:85px;
	height:85px;
	margin-right:30px;
	border-radius:50%;
}
.testimonials_txt {
	padding:8px 0 15px;
	font-size:15px;
}
.author_inf {
	line-height:17px;
}
.author_inf span {
	display:inline-block;
	padding-right:4px;
	text-transform:uppercase;
	color:#59b390;
}

/* ___________________ //Testimonials ___________________ */


/* ____________________ Portfolio ____________________ */
section#portfolio {
	overflow:visible !important;
	width:100%;
}

/* __________ Filter __________ */
#filter {
	padding:7px 0 13px;
	margin-bottom:37px;
}
#filter li {display:inline-block;
}
#filter a {
	display:block;
	margin:0 0 0 40px;
	padding:0;
	text-transform:uppercase;
	line-height:20px;
	color:#797979;
	cursor:pointer;
}
#filter a.selected,
#filter a:hover {
	color:#59b390;
}

/* _________ //Filter _________ */

/* __________ Portfolio Item __________ */
.portfolio_block {
	overflow:visible !important;
	margin: 0;
}
.portfolio_block .element {
	float:left;
/*	width:333px;
	height:269px;*/
	width: 20em;
	height: 20em;
	margin:20px;
	z-index:100;
}

/* _________ //Portfolio Item _________ */

/* ___________________ //Portfolio ___________________ */


/* ____________________ resume ____________________ */
#resume {
	position:relative;
	padding:200px 0;
	background-image: url(../images/computer_bg.jpg);
	background-position: 0px -75px;
}
.resume_fill {
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/resume_fill.png);
}
#resume .container {
	position:relative;
	z-index:1;
	text-align:center;
}
/*#resume .resume_block {
	padding:0 60px;
	text-transform:uppercase;
	font-weight:500;
	line-height:24px;
	font-size:19px;
	color:#fff;
}*/

.resume_btn {
	display:inline-block;
	margin:-18px;
	border: solid white 10px;
	padding:13px 50px 12px;
	text-transform:uppercase;
	letter-spacing: 2px;
	line-height:20px;
	font-size:25px;
	font-weight: 700;
	color:#fff;
	cursor:pointer;
	background-color: #1abc9c;
}


.resume_btn:hover {
	background-color: white;
	color:#1abc9c;
	border: solid #1abc9c 10px;
}


/* ___________________ //resume ___________________ */


/* ____________________ Blog ____________________ */
.blog_img {
	position:relative;
	background:#59b390;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.blog_item:hover .blog_img {background:#000;
}
.blog_item .blog_img img {
	width:100%;
	opacity:0.93;
	filter: alpha(opacity=93);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.blog_item:hover .blog_img img {
	opacity:0.35;
	filter: alpha(opacity=35);
}

.post_date {
	overflow:hidden;
	position:absolute;
	z-index:1;
	left:0;
	bottom:0;
	width:60px;
	padding:9px 2px;
	text-transform:uppercase;
	text-align:center;
	line-height:16px;
	font-size:14px;
	color:#505050;
	background:#fff;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.post_date span {
	line-height:30px;
	font-size:31px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.blog_item:hover .post_date,
.blog_item:hover .post_date span {color:#59b390;
}

.blog_description {
	padding:27px 0 14px;
	background:#fff;
}
.blog_item a.title {
	text-transform:uppercase;
	font-size:18px;
	color:#505050;
}
.blog_item:hover a.title {
	color:#59b390;
}

.blog_item .blog_author {
	padding:5px 0;
	color:#979797;
}
.blog_item .blog_author a {
	color:#979797;
}
.blog_item .blog_author a:hover {
	color:#505050;
}


/* ___________________ //Blog ___________________ */


/* ____________________ Contact ____________________ */
#contact {
	overflow:hidden;
	position:relative;
	min-height:400px;
	background-image: url(../images/contact_bg.jpg);
	background-size:cover;
	background-attachment: fixed;
	color:#fff;
}
.contact_fill {
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/contact_fill.png);
}
#contact .container {
	position:relative;
	z-index:1;
}
.hi {
	font-size: 30px;
}

#flright {
    float: right;
  }
.contact_info {padding-right:20px;
}
.contact_info a {color:#fff;
}
.contact_info a:hover {color:#59b390;
}

#ajax-contact-form .fleft {
	width:320px;
}

textarea,
input[type="text"] {
	width:88%;
	margin:0 0 20px 0;
	margin-top:0 !important;
	padding: 20px 19px 21px;
	text-transform:none;
	font-family: 'Droid Sans', sans-serif;
	font-weight:400;
	line-height:20px;
	font-size: 13px;
	color: #999;
	font-style:normal;
	border-radius: 0;	
	background: #f3f3f3;
	background: rgba(243,243,243,0.2);
	border: 0;
	box-shadow: none;	  
}
textarea {
	min-height:174px;
	overflow:hidden;
	resize: none;
	margin-bottom:18px;
	width:366px;
}
textarea,
input[type="text"].last {margin-right:0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	outline: 0;
	box-shadow: none;
	border: 0;
}

.contact_btn {
	width:100%;
	display:block;
	cursor:pointer;
	margin:0 0 45px;
	padding:13px 30px;
	border: 0;
	border-radius: 0;
	box-shadow: 0;
	text-align:center;
	text-shadow:none;
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'Droid Sans', sans-serif;
	font-weight:700;
	line-height:20px;
	font-size:15px;
	color:#59b390;
	background: #f3f3f3;
	background: rgba(255,255,255,0.36);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.contact_btn:hover {
	background: rgba(255,255,255,0.45);
	color:#59b390;
}

.notification_error {
	color:#f00;
}

#contact a.down_btn {
	position:absolute;
	z-index:10;
	left:50%;
	bottom:0;
	margin:0 0 0 -22px;
	padding:0;
	display:block;
	width:43px;
	height:43px;
	background: url(../images/top_btn.png) no-repeat;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#contact a.down_btn:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.copyright {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:17px 0;
	text-align:center;
	color:#fff;
}
.copyright a {color:#59b390;
}
.copyright a:hover {color:#fff;
}

/* ___________________ //Contact ___________________ */


/* ____________________ Isotope Styles ____________________ */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

/* ___________________ //Isotope Styles ___________________ */


/* ____________________ Responsive Style ____________________ */
@media (min-width: 1280px) and (max-width: 1425px) {}

@media (min-width: 1001px) and (max-width: 1279px) {}

@media (max-width: 1024px) {
	.parallax_effect {background-size:cover;background-position:0 0 !important;}
	#home {background-position:0 0 !important;}
	#about, #contact, .contact_parallax,  #blog, #testimonials, #progress, #resume, #nam {background-position:0 0 !important; background-size:cover;}
	
	.opacity { opacity: 1; filter: alpha(opacity=100);}
	
	#home {min-height:100%;}

}

@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
	.parallax_effect {background-size:cover;background-position:0 0 !important;}
	#home {background-position:0 0 !important;}
	#about, #contact, .contact_parallax,  #blog, #testimonials, #progress, #resume, #nam {background-position:0 0 !important; background-size:cover;}
	
	.opacity { opacity: 1; filter: alpha(opacity=100);}
	
	#contact {padding-bottom:40px;}
	
	#home {min-height:100%;}

}

@media (min-width: 767px) and (max-width: 1000px) {
	.container {width:724px;}
	
	#home {min-height:100%;}
	

/* __________ Menu __________ */
.navmenu ul li a {padding:0 30px;}

	
/* _________ //Menu _________ */

/* __________ About __________ */

/* _________ //About _________ */

/* __________ Services __________ */
	
/* _________ //Services _________ */

/* __________ Testimonials __________ */
	
/* _________ //Testimonials _________ */

/* __________ Portfolio __________ */
	.portfolio_block .element, .portfolio_block .uc-container {width:362px;height:292px;}
	
	.portfolio_block .proj_descr p {font-size:13px; margin-bottom:3px;}
	.portfolio_block .proj_descr {font-size:11px; line-height:17px;padding:7px 12px; left:7px; right:7px; bottom:7px;}
/* _________ //Portfolio _________ */

/* __________ Nam __________ */
	#nam .nam_block {font-size:25px;line-height:25px;}
/* _________ //Nam _________ */

/* __________ Blog __________ */
	
/* _________ //Blog _________ */

/* __________ Contact __________ */
	#ajax-contact-form .fleft {width:230px;}
	input[type="text"] {width:83%;}
	textarea {width:250px;}
	
/* _________ //Contact _________ */

	.span12 {width: 724px;}
	.span11 {width: 662px;}
	.span10 {width: 600px;}
	.span9 {width: 538px;}
	.span8 {width: 476px;}
	.span7 {width: 414px;}
	.span6 {width: 352px;}
	.span5 {width: 290px;}
	.span4 {width: 228px;}
	.span3 {width: 166px;}
	.span2 {width: 104px;}
	.span1 {width: 42px;}
	
}

@media (max-width: 766px) {
	.container {width:470px;}
	
	#home {min-height:100%;}

/* __________ Menu __________ */
	
	.navmenu ul li a {padding: 0 0px;}
/* _________ //Menu _________ */

/* __________ Home __________ */
	#home .welcome_block {padding-left:0; padding-right:0;}
	#home .welcome_block h1 {font-size:44px; line-height:44px;}
	#home .welcome_block p {font-size:15px; line-height:15px;}
	#home .welcome_block span {font-size:12px; line-height:17px;}

	.homelink:hover {color: white !important;}
	
/* _________ //Home _________ */

/* __________ About __________ */	
	.about_slide .video_block, .about_slide li img {width:150px; height:150px;}
	#about h3 {font-size:18px; line-height:20px; padding-top:10px;}
/* _________ //About _________ */

/* __________ Portfolio __________ */
	#portfolio .fleft, #portfolio .fright {float:none;}
	
	#filter {text-align:center;}
	#filter a {margin:0 7px;}
	
	.portfolio_block .element, .portfolio_block .uc-container {width:235px;height:190px;}
	
	.portfolio_block .proj_descr p {font-size:13px; margin-bottom:3px;}
	.portfolio_block .proj_descr {font-size:11px; line-height:17px;padding:7px 12px; left:7px; right:7px; bottom:7px;}
/* _________ //Portfolio _________ */

/* __________ Testimonials __________ */
	.testimonials_block{padding:0;}
	.testimonials_txt {font-size:13px;}
/* _________ //Testimonials _________ */

/* __________ Services __________ */
		
/* _________ //Services _________ */

/* __________ Blog __________ */

/* _________ //Blog _________ */

	#resume .resume_block {padding:0;}
	
	#ajax-contact-form .fleft {width:470px;}
	input[type="text"] {width:92%;}
	#contact textarea {margin-left:0; width:432px;}


	.row {margin-left:0;}
	[class*="span"] {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
	}

}

@media (max-width: 479px) {	
	.container {width:310px;}

/* __________ Menu __________ */
	
	/*.navmenu ul li a {padding:0 4px; font-size:10px; text-align:center;}*/

/* __________ About __________ */
	
/* _________ //About _________ */

/* __________ Portfolio __________ */
	.portfolio_block .element, .portfolio_block .uc-container {width:155px;height:125px;}
/* _________ //Portfolio _________ */

/* __________ Resume __________ */
.resume_btn {background-color: #1abc9c;
border: solid white 10px}
	
/* _________ //Resume _________ */

/* __________ Blog __________ */
	
/* _________ //Blog _________ */
	
	#ajax-contact-form .fleft {width:310px;}
	
	#contact textarea, #contact input[type="text"] {width:100%;}


	
	.footer {text-align:center;}
	.footer .fleft, .footer .fright {float:none;}
	
	.copyright {text-align:center;}
	.footer a.down_btn {display:inline-block; margin:10px auto;}

	
}






















